[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Pinning black stops us having to allow pre-releases globally
black = "*"
# Pins to make lockfile usable on multiple Python versions and platforms
mypy = "*"
atomicwrites = "*"
typed-ast = "*"
# Test and docs dependencies
pytest-cov = "*"
pytest-mypy = "*"
flake8 = "==4.0.1" # https://github.com/tholo/pytest-flake8/issues/87 - will stop being an issue when we move to a new skeleton
pytest-flake8 = "*"
pytest-black = "*"
mock = "*"
types-mock = "*"
pytest-asyncio = "*"
flake8-isort = "*"
isort = ">5.0"
sphinx = "==4.3.2"
sphinx-rtd-theme = "*"

[packages]
# All other package requirements from setup.cfg
pandablocks = {editable = true, extras = ["hdf5"], path = "."}
# Pins to make lockfile usable on multiple Python versions and platforms
numpy = "*"
typing-extensions = "*"

[scripts]
tests = "python -m pytest"
docs = "sphinx-build -EWT --keep-going docs build/html"
# Delete any files that git ignore hides from us
gitclean = "git clean -fdX"
