[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Pinning black stops us having to allow pre-releases globally
black = "==19.10b0"
pytest-cov = "*"
pytest-mypy = "*"
pytest-flake8 = "*"
pytest-black = "*"
flake8-isort = "*"
isort = ">5.0"
sphinx-rtd-theme = "*"
pytest-asyncio = "*"
# Without these lines lockfile isn't usable on multiple Python versions and platforms
mypy = "*"
atomicwrites = "*"
matplotlib = "*"
# This pin no longer required after https://github.com/tholo/pytest-flake8/pull/71 merges
pytest = "==6.0"

[packages]
# All other package requirements from setup.cfg
pandablocks = {editable = true,path = "."}
h5py = "*"
click = "*"
# make sure a python 3.8 compatible numpy is selected
numpy = ">=1.18"

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov-fail-under=90 --cov=pandablocks --cov-report term"
docs = "sphinx-build -E -b html docs build/html"
